.card {
  width: 250px;
  height: 350px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(150, 146, 146, 0.2),
    0 6px 20px 0 rgba(100, 98, 98, 0.19);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  transition: transform 0.2s;
}

.card :hover {
  transform: scale(1.1);
  opacity: 1;
}

.card .image {
  width: 90%;
  margin-bottom: 10px;
}

.card .tittle {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 24px;
  color: rgb(139, 182, 21);
  text-align: center;
  margin-bottom: 10px;
  font-family: "Arcade", cursive;
  text-decoration: none;
}

.card .types {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 24px;
  color: rgb(139, 182, 21);
  text-align: center;
  margin-bottom: 10px;
  font-family: "Arcade", cursive;
}
