.NavBar {
  background-image: url("../../img/wallpaperflare.com_wallpaper.jpg");
  background-size: cover;
  border-radius: 30px;
  box-shadow: 2px 2px 10px #ffffff;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.NavBartext {
  color: rgb(146, 144, 144);
  text-decoration: none;
  margin-right: 10px;
  text-shadow: 2px 2px #615f5f;
  text-transform: uppercase;
  font-family: "Arcade", cursive;
  letter-spacing: 0.1cm;
  font-size: x-large;
}

.NavBartext:hover {
  background-color: #504949;
  color: #ffffff;
  border-radius: 30px;
}
.NavBartext:active {
  background-color: #00ff00;
}
